@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab&display=swap");
/**
 * Minified by jsDelivr using clean-css v5.3.2.
 * Original file: /npm/reset-css@5.0.2/reset.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


a {
  text-decoration: none;
}

.l-header {
  width: 100%;
  margin-top: 30px;
  position: fixed;
  margin-top: 60px;
}
.l-header__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.l-header__logo {
  display: flex;
  justify-content: space-between;
}
.l-header__menu {
  margin-left: 20px;
}
.l-header__menu ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 10px 15px;
  align-items: center;
}
.l-header__menu ul li a {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  color: #d2d2d2;
  font-family: "Roboto", sans-serif;
}
.l-header__signup {
  display: flex;
  justify-content: space-between;
}

.l-wrap-inner {
  width: 1490px;
  margin: 0 auto;
}

.l-bloc {
  background-color: #F8E1DB;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}
.l-bloc__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 60px;
}
.l-bloc__inner h6 {
  font-size: 18px;
  font-weight: 900;
  font-family: "Archivo Black", "Regular";
  margin-bottom: 20px;
}
.l-bloc__inner .bloc-txt {
  color: #3B3735;
  width: 615px;
}
.l-bloc__inner .bloc-txt p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Roboto", "Regular";
}
.l-bloc__inner .bloc-list {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.l-bloc__inner .bloc-list a {
  text-decoration: none;
  font-size: 16px;
  font-size: 400;
  color: #000;
  line-height: 1.5;
}
.l-bloc address {
  color: #3B3735;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
}

.c-btn {
  width: 130px;
}
.c-btn a {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.c-btn a:hover {
  opacity: 0.8;
}
.c-btn--signin a {
  border: 0;
}
.c-btn--discover {
  width: 205px;
  margin: 0 auto;
}
.c-btn--discover a {
  border: 1px solid #e76f51;
  background: #e76f51;
}
.c-btn--more {
  max-width: 185px;
  margin: 0 auto;
}
.c-btn--more a {
  background: rgba(141, 141, 141, 0.1);
  border: none;
  color: #8d8d8d;
}
.c-btn--view {
  width: 205px;
  margin: 0 auto;
  height: 50px;
}
.c-btn--view a {
  border: 1px solid #ee7766;
  background: transparent;
  color: #e76f51;
}

.c-title {
  max-width: 456px;
  margin: 0 auto 74px;
  align-items: center;
}
.c-title img {
  width: auto;
  margin: 0 auto;
}
.c-title h4 {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  color: #3b3735;
  text-align: center;
  line-height: 1.3;
}

.mainvisual {
  background-image: url(../../../img/BG.png);
  height: 880px;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
.mainvisual__block {
  max-width: 580px;
  margin: 0 auto;
}
.mainvisual__block h2 {
  font-size: 81px;
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
.mainvisual__block p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.p-block--card {
  margin: -130px 0px 80px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.p-block--card .card-block {
  width: calc(25% - 15px);
  background: #fff;
  border-radius: 20px;
  margin-right: 20px;
}
.p-block--card .card-block:last-child {
  margin-right: 0;
}
.p-block--card .card-block__inner {
  padding: 40px 20px;
}
.p-block--card .card-block__inner .img-box {
  display: block;
}
.p-block--card .card-block__inner .img-box img {
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}
.p-block--card .card-block .txt-box {
  text-align: center;
}
.p-block--card .card-block .txt-box h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
  line-height: 32px;
}
.p-block--card .card-block .txt-box p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.p-block--activity {
  margin-bottom: 30px;
}

.activity-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.activity-content .card-block {
  width: calc(25% - 15px);
  margin: 0 20px 20px 0;
  background: #fff;
  border-radius: 20px;
}
.activity-content .card-block:nth-of-type(4n+4), .activity-content .card-block:last-child {
  margin-right: 0;
}
.activity-content .card-block__inner {
  padding: 50px 30px;
}
.activity-content .card-block .price {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 145px;
  margin: -25px auto 0;
  border-radius: 14px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #e76f51;
  position: relative;
  z-index: 1;
}
.activity-content .card-block .img-box {
  position: relative;
}
.activity-content .card-block .img-box .favourite {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity-content .card-block .img-box .favourite a {
  display: block;
  background-image: url(../../../img/fav.png);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.activity-content .card-block .img-box .favourite a:hover {
  background-image: url(../../../img/fav.png);
}
.activity-content .card-block .txt-box {
  text-align: center;
}
.activity-content .card-block .txt-box h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.activity-content .card-block .txt-box p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.email-bloc {
  width: 1490px;
  margin: 0 auto 180px;
}
.email-bloc .c-bloc {
  position: relative;
}
.email-bloc .c-bloc .c-bloc__txt {
  width: 616px;
  position: absolute;
  top: 111px;
  left: 100px;
  text-align: left;
  line-height: 1.5;
}
.email-bloc .c-bloc .c-bloc__txt h5 {
  font-size: 40px;
  font-weight: 900;
}
.email-bloc .c-bloc .c-bloc__txt p {
  width: 486px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box {
  position: relative;
  width: 560px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box input {
  width: 100%;
  padding: 25px;
  border-radius: 20px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box input:focus {
  outline: none;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box a {
  width: 50px;
  position: absolute;
  top: 12px;
  right: -35px;
}
.email-bloc .c-bloc .c-bloc__txt .txt-box a img {
  width: 100%;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */