.c-btn {
    width: 130px;
  
    a {
      border: 1px solid #fff;
      box-sizing: border-box;
      border-radius: 25px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      display: inline-flex;
      width: 100%;
      height: 50px;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto',sans-serif;
      color: #fff;

  
      &:hover {
        opacity: .8;
      }
    }
  
    &--signin {
      a {
        border: 0;
      }
    }
  
    &--discover {
      width: 205px;
      margin: 0 auto;
  
      a {
        border: 1px solid #e76f51;
        background: #e76f51;
      }
    }
    
    &--more {
      max-width: 185px;
      margin: 0 auto;
  
      a {
        background: rgba(141, 141, 141, .1);
        border: none;
        color: #8d8d8d;
       
      }
    }
  
    &--view {
      width: 205px;
      margin: 0 auto;
      height: 50px;
      a {
        border: 1px solid #e76f;
        background: transparent;
        color: #e76f51;
      }
    }
  }
  
