.c-title {
    max-width: 456px;
    margin: 0 auto 74px;
    align-items: center;

    img {
        width: auto;
        margin: 0 auto;
       
    }

    h4 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 40px;
        color: #3b3735;
        text-align: center;
        line-height: 1.3;

    }
}