.l-header {
    width: 100%;
    margin-top: 30px;
    position: fixed;
    margin-top: 60px;

    &__wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    &__logo {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        margin-left: 20px;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            gap: 10px 15px;
            align-items: center;

            li {

                a {
                    padding: 0 20px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #d2d2d2;
                    font-family: 'Roboto', sans-serif;


                }
            }
        }

    }

    &__signup {
        display: flex;
        justify-content: space-between;


    }


}